
@{
    ViewBag.Title = "Index";
}

<h3 style="color: #4f5b69; "><em>Listado Hotel</em></h3>
<hr style="color: #0056b2;" />

<div id="divTabla">

</div>

<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/hotel.js"></script>

